<div class="container">
  <!-- New events 'serverCreated' and 'blueprintCreated' needs to be triggered, calling onServerAdded() and onBlueprintAdded() resp. 
      Also, we expect to get some data with $event 
    
      Note: New events are triggered only after the buttons in cockpit component have been clicked. -->
  <app-cockpit 
    (srvCreated)="onServerAdded($event)" 
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first server</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first component</button>
      <!-- In <app-server-element> we can bind the 'server' property of server-element component with the looping variable.-->
      <app-server-element *ngFor="let server of servers" [srvElement]="server" [name]="server.name">
        <!-- Angular ignores the content between opening and closing tag of our component by default -->
          <p #contentParagraph>
              <!-- <strong *ngIf="server.type === 'server'; else blueprint" style = "color: green">{{ server.content }}</strong>
              <ng-template #blueprint>
                  <em style = "color: blue">{{ server.content }}</em>
              </ng-template> -->
              <strong *appUnless="server.type === 'server'" style = "color: green">{{ server.content }}</strong>
              <em *ngIf ="server.type === 'blueprint'" style = "color: blue">{{ server.content }}</em>
          </p>
      </app-server-element>
    </div>
  </div>
<p appBasicHighlight>Style me with basic directive</p>
<!-- <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with better directive</p> -->
<p [appBetterHighlight]="'red'" [defaultColor]="'yellow'">Style me with better directive</p>
</div>